@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
body{
    background-color: #F1F2F4;
    
}
img{
   max-width: 100%;
}
a{
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}


.container{
    width: 1080px;
    margin: auto;
}

/* Header Start */

.stickyemnu{
    background-color: #ffffff;
    position: sticky;
    overflow: hidden;
    top: 0;
    z-index: 55;
    padding-bottom: 20px;
}
.header{
    background-color: white;
   
    
}

.header1{
  
    padding-top: 20px;
    padding-bottom: 41px;
    position: sticky;
    top: 0;

   
  
   


}
.hdBox{
    
    float: left;

}
.logo{
    width: 20%;
}
.logo img{
    width: 110px;
}
.srarch{
    width: 60%;
    position: relative;
    padding-top: 10px;
}
.srarch input{
    padding:10px;
    width: 80%;
    outline: none;
    border: 1px solid #CED4DA;
    border-bottom: 1px solid orange;
}
.srarch i{
    font-size: 20px;
    background-color: #0397D3;
    padding: 10px;
    color: #ffffff;
    overflow: hidden;
    position: absolute;
    top: 10px;
    cursor: pointer;
    
}
.eCardLog{
    width: 20%;
    padding-top: 10px;
    text-align: right;
    position: relative;
   
}
.eCardLog i{
    font-size: 30px;
    margin: 10px;
    position: absolute;
    left: 99px;
    top: 1px;
}
.eCardLog input{
    padding: 8px;

    border: 1px solid #CED4DA;
    transition: .3s;
    font-weight: 700;


}
.eCardLog input:hover{
    background-color: #33C14D;

}
.header2{
    border-bottom: 1px solid #89C4F4;
}
.header2 ul{
    list-style: none;
    text-align: center ;
}
.header2 ul li{
    display: inline-block;
}
.header2 ul li a{
    display: block;
    padding:10px 10px;
    color: #333;
    transition: .3s ease;
}
.header2 ul li a:hover{
    color:   #89C4F4;
}
.header2 ul li i{
    color: #D32F2F;
}

.header2 ul li:first-child{
    border: 1px solid  #89C4F4;
}
.header2 ul li:first-child{
    border-bottom: 1px solid #ffffff;
}
.mariya{
    position: relative;
}



.header3 ul{
    list-style: none;
    text-align: center ;
}
.header3 ul li{
    display: inline-block;
    position: relative;
 }
.header3 ul li a{ 
    display: block;
    padding:15px 10px;
    color: #333;
    transition: .3s ease;
}
.header3 ul li a i{
    transform: rotate(180deg);
}
.header3 ul li a:hover i{
    transform: rotate(0deg);
}
.header3 ul ul li a:hover+.header3 ul ul li a i{
    transform: rotate(0deg);
}
.header3 ul li a:hover{
    color:  #89C4F4;
}
.header3 ul  ul{
    position: absolute;
    top: 36px;
    left: -99999999px;
    list-style: disc;
    background-color: white;
}
.header3 ul  ul li{
    transition: .3s;
    width: 200px;
}
.header3 ul  li:hover ul{
    left: -74px;
}
.header3 ul  ul li a{
    padding:5px 0 ;
}





.banar{
    overflow: hidden;
   
}
.banarWrapr{
    display: flex;
    justify-content: space-between;
}
.banar .banarImg{
    width: 33%;
    margin-top: 21px;
    
    
}

.product{
    margin-top: 20px;
    color: #333;

    
}
.product h2{
    padding-top: 20px;
    padding-left: 10px;
    background-color: white;
}
.productWraper{
    background-color: #ffffff;
    
    overflow: hidden;
}
.tonoy{
    width: 20%;
    position: relative;
    
    height: 370px;
    transition: all .3s ease-in;
    float: left;
    
   
    
}

.tonoy:hover{
    box-shadow: 0px -13px 50px -1px #bfbfbf;
}
.tonoy:hover .masud a{
    display: inline-block;
}

.productBox:hover .productDit a{
    display: block;

}
.productBox img{
    width: 100%;
    margin: 5px;
   padding: 25px 25px 0px 25px;
}
.productDit{
    text-align: center;
    
}
.productDit a{
    padding: 5px;
    width: 100%;
    font-size: 20px;
    background-color:  #37AAF7;
    border: none;
    color: #ffffff;
   
    display: none;
    
}
.productDit a:hover{
    background-color:#459cd6;
}
.productDit p{
    font-size: 18px;
    text-align: center;
    
}
.masud{
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   box-shadow: none;
}

.masud a{
    background-color:#37AAF7;
    width: 100%;
    display: block;
    text-align: center;
    padding: 10px 0;
    font-family: 'Oswald', sans-serif;
    display: none;
   
}
.masud a:first-child{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 175px;
    transform: translate(-50%, -50%);
    color: white;
    background: orange;
    transition:all .2s ease;
}
.masud a:last-child{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
}

.productBox:hover {
    opacity: .2;
   
}
.tonoy{

    position: relative;
}

.masud:hover {
    background: rgba(255,255,255,0.4);
    }





    .seebook{
       overflow: hidden;
       display: block;
       margin-top: 40px;
    }


.seebox{
    width: 18%;
    background-image: url(image/seebokbn.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    color: white;
    position: relative;
    margin-top: 30px;
}
.seebookTit h2{
    background-color: white;
    position: relative;
    padding-top: 20px;
    padding-left: 10px;
    

}
.seeWraper{
    display: flex;
    justify-content: space-between;
    /* margin-top: 30px; */
    background-color: #ffffff;
    position: relative;
    padding: 25px 7px;
}
.seeWraper::before{
    position: absolute;
    background-image: url(image/right-arrow.png);
    height: 50px;
    width: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    top: 100px;
    left: -32px;
    z-index: 3;
    transform: rotate(180deg);
    opacity: .8;
    cursor: pointer;

}

.seeWraper::after{
    position: absolute;
    background-image: url(image/right-arrow.png);
    height: 50px;
    width: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    top:100px;
    right: -33px;
    z-index: 5;
    opacity: .8;
    cursor: pointer;
}
.seebox h2{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    width: 100%;
}


/* button */
.moreButton{
    margin-top: 30px;
}
.buttonWraper{
    background-color: #fff;
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
  
}
.btn{
    
    text-align: center;
   
}


.demo {
    display: inline-block;
    background: none;
    color: black;
    padding: 10px;
    text-decoration: none;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 1px solid#0397D3;
    font-family: sans-serif;
    background: #0397d338;
   }
   .demo::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #0397D3;
    position: absolute;
    top: 0;
    left: -100%;
    transition: all 0.3s linear;
    z-index: -1;
   }
  
   .demo:hover::after {
    top: 0;
    left: 0;

   }
   .demo:hover{
       color: #ffffff;
   }



/* button  end*/


/* author */
.author{
    margin-top: 50px;
    
}
.athorMas{
    background-color: white;
   
}
.athurWraper{
    display: flex;
    justify-content: space-evenly;
  
}
.athurBox{
    width: 25%;
    text-align: center;
    padding: 30px;
 
    
    
}
.athurBox img{
    border-radius: 100%;
    cursor: pointer;
}
.authorTit h2{
   padding: 10px;

}

/* author end */

/* subscribe start */
.subscribebox{
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: white;
}
.subtutle{
    color: #333;
    
}
.subtutle span{
    color: #39C24D;
}
.sunscribeinput{
    padding: 10px;
    margin-top: 20px;
}
.sunscribeinput input{
    padding: 12px;
    font-family: 'Oswald', sans-serif;
  
    border-radius: 3px;
}
.sunscribeinput input[type="text"]{
    width: 300px;
    outline: none;
    border: 1px solid #ced4da;
   
    
}
.sunscribeinput input[type="text"]:focus{
    box-shadow: 0px 0px 5px -1px #0397d3;
    
}
.sunscribeinput .male{
    color: #0397D3;
    border: 1px solid #0397D3;
    transition: .5s;
}
.sunscribeinput .male:hover{
    background-color: #0397D3;
    color: white;
}
.sunscribeinput .female:hover{
    background-color: #E26A6A;
    color: white;
}


.sunscribeinput .female{
    color: #E26A6A;
    border: 1px solid #E26A6A;
    transition: .5s;
}
/* subscribe end */

/* customr Review */

.customarReview{
    margin: 20px 0;
}
.contomarRvWraper{
    width: 25%;
}


/* customr Review  end */

/* services start */
.sevices{
    
}
.servicsWraper{
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
}
.servicesBox{
    width: 25%;
    display: flex;
    justify-content: flex-start;
}
.servicesBox img {
    width: 40px;
    
}
.sevicesDit{
    padding: 0 10px;
}


/* services End */

/* resent Post srat */

.resemtPost{}
.resentPconteiner{
    background-color: #ffffff;
    padding: 10px;
}
.resentPostWraper{
    display: flex;
    justify-content: space-around;
}
.resentPostBox{
    width: 15%;
    cursor: pointer;
    
}
/* resent Post End */

/* futar start */
.futar{
    background-color: white;
    overflow: hidden;
    margin-top: 30px;
}
.futarWraper{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.futarhelp{
    margin-top: 20px;
}
.futarhelp p{}
.futarhelp p em{
    color: #333333;
    margin-left: 5px;
    font-size: 105%;
    font-style: normal;
}
.futarhelp img{
    margin-right: 10px;
}
.saycollect{}
.saycollect .fa-facebook{
    color: #3b5998;
}
.saycollect .fa-twitter{
    color: #00aced;
}
.saycollect .fa-linkedin-in{
    color: #007bb6;
}
.saycollect .fa-youtube{
    color: #bb0000;
}



.saycollect i{
    font-size: 25px;
    cursor: pointer;
}






.futarhome{
    width: 16%;
}
.facebookflow{
    width: 20%;
}

.futarhome{}
.futarhome p{
    padding: 10px 0;
    color: black;
}
.futarhome ul{
    list-style:circle;
}
.futarhome ul li{}
.futarhome ul li a{
    color: #333;
}
/* futar End */








